.store_carousel_container {
  font-family: var(--font-heading);
}

.store_carousel_container h2 {
  margin-bottom: 2rem;
  font-size: 30px;
  font-weight: 500;
}

.store_carousel {
  width: fit-content;
  margin: auto;
  position: relative;
}

.carousel_btn_container {
  position: absolute;
  right: 0;
  top: -3.3rem;
}

@media only screen and (max-width: 480px) {
  .store_carousel_container h2 {
    font-size: 20px;
  }

  .carousel_btn_container {
    top: -2rem;
  }
}
