:root{
    padding: 0px;
    margin: 0px;

    --primary-color:#F8444F;
    
}
.Hero_wrapper{
    background-color: #F8444F;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

   
}
.navbar_div{
    width: max-content;
    color: black;
    padding-top: 1rem;
    margin-bottom: 2rem;

}
.hero-section{
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center; 
    height: 70dvh;
    color: bisque;
}
.container{
    width: 80dvw;
    /* background-color: blue; */
    display: flex;
    justify-content: space-between;
    /* margin-top: 2rem; */
}
.heading{
    margin-bottom: 0.5rem;
}
.span{
    display: block;
    margin-bottom: 4rem;
}
button{
    width: 170px;
    height: 44px;
}
