.store_carousel_cloth {
  width: 391px;
  height: 171px;
  background: #f8444f;
  border-radius: 8px;
  color: white;
  position: relative;
  display: flex;
  align-items: center;
  padding: 1rem;
  box-sizing: border-box;
}

.cloth_img {
  width: 119px;
  height: 145px;
  background: #ffffff;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 0.5rem;
}

.store_carousel_cloth img {
  width: 107px;
  height: 107px;
}

.store_carousel_cloth span {
  display: block;
  font-size: 12px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.7);
}

.store_carousel_cloth button {
  width: 83px;
  height: 34px;
  background: #f7f8f3;
  border-radius: 4px;
  font-weight: 400;
  font-size: 16px;
  position: absolute;
  right: 8px;
  bottom: 8px;
}

.store_carousel_cloth h4 {
  font-weight: 500;
  font-size: 20px;
}

/* media queries */
@media only screen and (width: 768px) {
  .store_carousel_cloth {
    width: 350px;
  }
}

@media only screen and (max-width: 480px) {
  .store_carousel_cloth {
    width: 180px;
    height: 110px;
    padding: 10px;
  }

  .cloth_img {
    width: 90px;
    height: 87px;
  }

  .cloth_img img {
    width: 78px;
    height: 72px;
  }

  .store_carousel_cloth h4 {
    font-size: 14px;
  }

  .store_carousel_cloth span,
  .store_carousel_cloth button {
    font-size: 10px;
  }

  .store_carousel_cloth button {
    width: 45px;
    height: 18px;
  }
}
